<div id="MyPlayerDivID1"></div>
<div id="MyQualities"></div>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="http://www.youtube.com/player_api"></script>

<button onclick="javascript:fancyFunction();">Button</button>

<script type="text/javascript">
    let ytp1;
    let started = false;
    let myQuality;

    function fancyFunction() {
        $(".btn-change-quality".on("click", function(){  }))
    }

    function onYouTubePlayerAPIReady() {
        ytp1 = new YT.Player('MyPlayerDivID1', {
            height: '200',
            width: '290',
            videoId: 'IQFRekV9abQ',
            playerVars: {
                'autoplay': 1,
                'controls': 1,
                'autohide': 0
            },
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    function onPlayerReady(event) {}

    function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !started) {
            setQuality(event);
            started = true;
        }
    }

    function setQuality(event) {
        myQuality = myQuality || 'tiny';
        event.target.setPlaybackQuality(myQuality);
    }
</script>

<br>

<script>
    function showQualitySwitcher() {
        let allQualities = ytp1.getAvailableQualityLevels();
        allQualities.push("hd720", "hd1080");

        for (let i = 1; i < allQualities.length; i++) {
            document.getElementById("MyQualities").innerHTML +=
            `<a href="javascript:
            started = false;
            myQuality = '${allQualities[i]}';
            alert('Current Quality: ${ytp1.getPlaybackQuality()} - Switching To: ${allQualities[i]}');
                    ytp1.pauseVideo();
                    ytp1.setPlaybackQuality('${allQualities[i]}');
                    ytp1.playVideo();
                    void(0);">${i + ')' + allQualities[i]}</a>` ;
                }
            }
</script>
<a href="javascript:showQualitySwitcher();">SHOW QUALITY Switcher</a>