<html>
    <head>
        <title>{{ product.name }}</title>
    </head>
    <body v-scope>
        <a href="{{ product.url }}" target="_blank"><h2>{{ product.name }}</h2></a>
        <table>
            <tr>
                <td>
                    {% if product.youtube_handle is not none %}
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ product.youtube_handle }}" frameborder="0" allowfullscreen></iframe>
                    {% else %}
                        <a href="https://www.youtube.com/results?search_query={{ product.name }}" target="_blank">Youtube Search</a>
                    {% endif %}
                </td>
                <td>
                    <button type="button" @click="like()">Like</button>
                    <button type="button" @click="dislike()">Dislike</button>
                </td>
                <td>
                    <button type="button" @click="save()">Save</button><br>
                    <button type="button" @click="next()">Next unrated</button>
                    <button type="button" @click="unrate()">Unrate</button>
                </td>
            </tr>
        </table>
        <input type="checkbox" id="availability" v-model="available" {{ "checked" if product.availability }}>
        <label for="availability">Available</label>
        <input type="checkbox" id="fan" v-model="fan" {{ "checked" if product.fan }}>
        <label for="fan">Fan</label>
        Tags:
        <select multiple v-model="tags">
            <option v-for="tag in all_tags">${tag}</option>
        </select>
        <input type="text" v-model="new_tag">
        <button type="button" @click="add_new_tag()">+</button>

        <br>

        <table>
            <tr>
                <td>Price:</td>
                <td>{{ product.price / 100 if product.price is not none else '-' }} €</td>
                {% if product.price is not none %}
                    <td><img src="../static/product_plots/{{ product.id_ }}_price.svg"></td>
                {% else %}
                    <td></td>
                {% endif %}

                <td>NEM/s:</td>
                <td>{{ product.nem_per_second if product.nem_per_second is not none else "N-" }} g/s</td>
                {% if product.nem_per_second is not none %}
                    <td><img src="../static/product_plots/{{ product.id_ }}_nem_per_second.svg"></td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
            <tr>
                <td>Shots:</td>
                <td>{{ product.shot_count if product.shot_count is not none else '-' }}</td>
                {% if product.shot_count is not none %}
                    <td><img src="../static/product_plots/{{ product.id_ }}_shot_count.svg"></td>
                {% else %}
                    <td></td>
                {% endif %}

                <td>NEM/Shot:</td>
                <td>{{ product.nem_per_shot if product.nem_per_shot is not none else "N-" }} g</td>
                {% if product.nem_per_shot is not none %}
                    <td><img src="../static/product_plots/{{ product.id_ }}_nem_per_shot.svg"></td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
            <tr>
                <td>Duration:</td>
                <td>{{ product.duration if product.duration is not none else '-' }} s</td>
                {% if product.duration is not none %}
                    <td><img src="../static/product_plots/{{ product.id_ }}_duration.svg"></td>
                {% else %}
                    <td></td>
                {% endif %}

                <td>€/s:</td>
                <td>{{ product.price_per_second if product.price_per_second is not none else "N-" }} €/s</td>
                {% if product.price_per_second is not none %}
                    <td><img src="../static/product_plots/{{ product.id_ }}_price_per_second.svg"></td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
            <tr>
                <td>NEM:</td>
                <td>{{ product.nem if product.nem is not none else '-' }} kg</td>
                {% if product.nem is not none %}
                    <td><img src="../static/product_plots/{{ product.id_ }}_nem.svg"></td>
                {% else %}
                    <td></td>
                {% endif %}

                <td>€/Shot:</td>
                <td>{{ product.price_per_shot if product.price_per_shot is not none else "N-" }} €</td>
                {% if product.price_per_shot is not none %}
                    <td><img src="../static/product_plots/{{ product.id_ }}_price_per_shot.svg"></td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
            <tr>
                <td>Min. Height:</td>
                <td>{{ product.min_height if product.min_height is not none else '-' }} m</td>
                {% if product.min_height is not none %}
                    <td><img src="../static/product_plots/{{ product.id_ }}_min_height.svg"></td>
                {% else %}
                    <td></td>
                {% endif %}

                <td>€/NEM:</td>
                <td>{{ product.price_per_nem if product.price_per_nem is not none else "-" }} €/kg</td>
                {% if product.price_per_nem is not none %}
                    <td><img src="../static/product_plots/{{ product.id_ }}_price_per_nem.svg"></td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
            <tr>
                <td>Max. Height:</td>
                <td>{{ product.max_height if product.max_height is not none else '-' }} m</td>
                {% if product.max_height is not none %}
                    <td><img src="../static/product_plots/{{ product.id_ }}_max_height.svg"></td>
                {% else %}
                    <td></td>
                {% endif %}

                <td>Shots/s:</td>
                <td>{{ product.shots_per_second if product.shots_per_second is not none else "-" }} Hz</td>
                {% if product.shots_per_second is not none %}
                    <td><img src="../static/product_plots/{{ product.id_ }}_shots_per_second.svg"></td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
            <tr>

            </tr>
        </table>

        <br>

        <a href="/">Main page</a>
        <a href="overview">Overview</a>
    </body>
</html>

<script type="module">
    import { createApp } from 'https://unpkg.com/petite-vue?module'

    createApp({
        $delimiters: ['${', '}'],

        like() {
            this.liked = true;
        },

        dislike() {
            this.liked = false;
        },

        add_new_tag() {
            if (this.all_tags.includes(this.new_tag)) {
                alert("The tag '" + this.new_tag + "' already exists!");
                return;
            };
            this.all_tags.push(this.new_tag);
            this.tags.push(this.new_tag);
            alert(this.all_tags);
        },

        save() {
            return fetch(this.pid + "/update", {
                method: "PATCH",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    'rated': true,
                    'rating': this.liked,
                    'fan': this.fan,
                    'tags': this.tags
                })
            }).then((response) => {
                alert("rated");
                this.rated = true;
                return null;
            }).catch((error) => {
                alert(error);
            });
        },

        next() {
            this.save();
            window.location.replace("next-unrated");
        },

        unrate() {
            return fetch(this.pid + "/update", {
                method: "PATCH",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    'rated': false,
                    'rating': false
                })
            }).then((response) => {
                alert("unrated");
                this.rated = false;
                return null;
            }).catch((error) => {
                alert(error);
            });
        },

        new_tag: "",
        pid: "{{ product.id_ }}",
        all_tags: [{% for tag in all_tags %} "{{ tag }}", {% endfor %}],
        liked: {{ 'null' if product.rating is none else 'true' if product.rating else 'false' }},
        available: {{ 'true' if product.availability else 'false' }},
        fan: {{ 'true' if product.fan else 'false' }},
        tags: [{% for tag in product.tags %} "{{ tag }}", {% endfor %}],
        rated: {{ 'true' if product.rated else 'false' }}
    }).mount();
</script>